<div class="article-container">
  <h1 class="title">ここは一覧ページです</h1>
  <div class="items-contents">
    <div class="item">1のここにコンテンツを入れる</div>
    <div class="item">2のここにコンテンツを入れる</div>
    <div class="item">3のここにコンテンツを入れる</div>
    <div class="item">4のここにコンテンツを入れる</div>
  </div>
</div>