<div class="article-container">
  <header class="header">
    <img class="logo" src="https://school.omusubi-tech-academy.net/icon/app_wide_logo.svg" alt="log">
    <ul class="nav">
      <li class="menu">home</li>
      <li class="menu">メンバー詳細</li>
    </ul>
  </header>
  <main class="main">
    <h1 class="title">おむすびテックアカデミー</h1>
    <p class="description">説明を書く。</p>

    <div class="contents">
      ここに最新情報の中身をかく
    </div>

    メンバーについて記載
  </main>

  <footer class="footer">
  </footer>
</div>
